<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.saveMoneyHelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="com.example.saveMoneyHelper.intro.DadosActivity" />
        <activity android:name="com.example.saveMoneyHelper.intro.DetailActivity" />
        <activity android:name="com.example.saveMoneyHelper.intro.IntroActivity" />
        <activity android:name="com.example.saveMoneyHelper.MainActivity" />
        <activity android:name="com.example.saveMoneyHelper.intro.SplashActivity">

        </activity>
        <activity
            android:name="com.example.saveMoneyHelper.auth.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.saveMoneyHelper.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.saveMoneyHelper.auth.RegisterActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.saveMoneyHelper.auth.LoginActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.saveMoneyHelper.auth.LoginActivity" />
        </activity>
        <activity
            android:name="com.example.saveMoneyHelper.auth.EmailVerify"
            android:label="@string/app_name"
            android:parentActivityName="com.example.saveMoneyHelper.auth.LoginActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.saveMoneyHelper.auth.LoginActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>